@import '../../style.scss';
.posts{
@include themify($themes){
    
.post{
    margin-top: 10px;
    margin: 10px;
    background-color: themed("bg");
    border-radius: 10px;
    padding: 15px;
    @include boxshadow;
    margin-bottom: 30px;
}
}
}