$themes:(
  light:(
bg: #FFFFFF,     // Main background color
obg:#ececec,          //Off backgrond and grey
tp: #333333,     // Primary text color and reverse
ts: #888888,     // Secondary text color (e.g., timestamps, auxiliary information)
link: #007BFF,   // Link and highlight color
cbg: #bdbcbc,    // Background color for code blocks or areas needing contrast and lighter grey 
ct: #2A2A2A,     // Text color for code 
reverse:black,
main:white
  ),
  dark:(
// Dark Mode
bg: #1E1E1E,     // Main background color
obg: #484848,          //Off backgrond and grey
tp: #E5E5E5,     // Primary text color and reverse
ts: #B0B0B0,     // Secondary text color (e.g., timestamps, auxiliary information)
link: #009AFF,   // Link and highlight color
cbg: #575656,    // Background color for code blocks or areas needing contrast and lighter grey 
ct: #E0E0E0,  // Text color for code
reverse:white,
main:black   
));


@mixin themify($theme) {
    @each $theme, $map in $themes { 
        .theme-#{$theme} & {
    
    $theme-map: () !global;
    @each $key, $submap in $map {
    
    $value: map-get(map-get($themes, $theme), "#{$key}");
     $theme-map: map-merge(
    $theme-map,
    (
    $key: $value,
    )
     ) !global;
}
    @content;
    $theme-map: null !global;
    }
}
}
    @function themed($key) {
    
    @return map-get($theme-map, $key);
    }


@mixin userHorizontal {
.user{
    display: flex;
              align-items: center;
              gap: 10px;
              cursor: pointer;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
  
    span {
        font-weight: bold;
        color: themed("tp");
        font-size: 1rem;
        white-space: nowrap;
    overflow: hidden;
    transition: background-color 0.1s ease-out;
    }
  }
   
  
  .user:hover{
    span{
      color:themed("reverse");
      transition-duration: 0s;
      font-weight: bolder;
      
    }
  }
  }

 

  @mixin boxshadow{
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  }

  @mixin mobile{
    @media(max-width: 480px){
        @content;
    } 
  }

  @mixin tablet{
    @media(max-width: 960px){
        @content;
    } 
  }