@import "../../style.scss";

.share {
  @include themify($themes) {
    @include boxshadow;

    border-radius:20px;
    background-color: themed("bg");
    color: themed("textColor");
    
    margin: 10px;

    .container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
     height: auto;
     
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        
        width: 100%;
        border-bottom: 1px solid themed("cbg");
        padding-bottom: 5px;
        margin-bottom: 10px;
        .left {
          //height: 100%;
          display: flex;
          align-items: center;
          flex: 3;
          gap: 5px;
          img {
            width: 40px  ;
            
            height: 40px ;
            border-radius: 50%;
            object-fit: cover;
          }

          input {
            padding: 20px 10px;
            background-color: transparent;
            width: 60%;
            color: themed("tp");
          }

          input[type="text"], textarea {
            //height: 100%;
            font-size:1.0625rem;
          width: 87%;
          resize: none;
          border: none;
          outline: none;
          overflow: hidden;
          background-color: themed("bg");
          color: themed("tp");
}
        }
        .right {
          flex: 0 0 auto;  // This will make the .right container size according to its content
          display: flex;
          justify-content: flex-end;
          
          .file {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 0px;
            @include smalltablet{display: none;}
          }
        }
      }

    

      .bottom {
        
        display: flex;
        align-items: center;
        display: flex;
          align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 5px;

          .item {
            
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            transition: background-color 0.1s ease-out;
            justify-content: center;
            border-radius: 5px;
            flex: 1;
            padding-top: 5px;
                padding-bottom: 5px;
            

            span {
              font-size: 12px;
              color: themed("ts");
            }

            &:hover{
              background-color: themed("obg");
              transition-duration: 0s;
              cursor: pointer;
          }

     
          }

          .item:hover{
            span{
              color: themed("reverse");
            }
          }
        
        
            
          button {
            width:150px;
margin-left: 10px;
            padding: 4px 6px;
            font-size:13px;
            border-radius: 5px;
           
            border: none;
            cursor: pointer;
            background-color: themed("tp");
            color: themed("bg");
            padding-top: 5px;
                padding-bottom: 5px;
                font-size: 16px;
          }


        button:hover{
            background-color: themed("reverse") !important;
            color: themed("main") !important;
            @include boxshadow;
        }
        
      }
    }
  }
}