@import "../../style.scss";


.update {
  @include themify($themes) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid #1E1E1E; //bg black
  border-radius: 10px;
  width: 400px;
  margin: 50px auto;
  background-color: themed("obg");
  color:themed("tp");
  .file{
    
    margin-left: auto;
  }

  span {
      font-weight: bold;
      margin-bottom: 10px;
  }

  form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 5px;

      span {
          margin: 10px 0;
      }

      input[type="text"] {
          width: 80%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: themed("bg");
          color:themed("tp")
      }

      input[type="file"] {
          margin-bottom: 10px;
          
          
      }
        .input-group{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            align-items: center;
            
            .descriptionf{
                width: 100%;
                background-color: themed("bg");
                color:themed("tp");
            }
        }
      .submit {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
          width: 100px;
          margin-top: 20px;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          background-color: #4CAF50;
          color: white;
          cursor: pointer;
font-size: 16px;
          &:hover {
              background-color: #45a049;
          }
      }
  }
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 24px;
    border: none;
    background-color: transparent;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: darkred;
    }
}

}}