@use '../../index.scss' as *;

.container {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.000);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card {
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    // Set display as flex to allow children to dictate the height
    display: flex;
    

    .login,.register{
        width: 100%;
display: flex;
    flex-direction: row;

.left {
    flex: 1;
    background-color: lightgrey;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    h1 {
        align-self: center;
        line-height: 0px;
        margin-bottom: 30px;
    }
    p {
       //color: $wts;
    }
    button {
        width: 50%;
        cursor: pointer;
        padding: 10px;
        font-weight: bold;
        color: black;
        background-color: #fff;
        border: none;
        align-self: center;
        font-size: 15px;
    }
    .register {
        margin-bottom: 30px;
    }
    .guest {
        margin-bottom: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
            border: none;
            color: black;
            border-bottom: 1px solid black;
            padding: 10px;
            font-size: 1rem;
            background-color: rgba(117, 117, 255, 0);
        }
    }
}

.right {
    flex: 1;
    background-color: #fff;
    padding: 50px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    gap: 5px;
    
    h1 {
        align-self: flex-start;
        line-height: 0px;
        margin-bottom: 30px;
    }
    button {
        width: 50%;
        cursor: pointer;
        padding: 10px;
        font-weight: bold;
        color: white;
        background-color: #000;
        font-size: 15px;
        border: none;
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        input {
            border: none;
            color: black;
            border-bottom: 1px solid black;
            padding: 10px;
            font-size: 1rem;
            background-color: rgba(117, 117, 255, 0);
        }
    }
}}}



.register{
   
    .right{
        h1{align-self: center !important;}
        span{margin-top: 30px;}
        button{
            margin-top:10px;
            align-self: center ;
        }
    }
}



