@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("obg");
    margin-top: 10px;
min-height: 200vh;
padding: 0px 80px;

@include mobile{
  padding:0px 10px;
}
@include tablet{
  padding:0px 30px;
}

    .update{
            
      position:absolute;
      top: 10vh;
    
      left: 0;
      right: -0vw;
      margin: auto;
     
     
      
     
      z-index: 88;
    }

    .images {
      width: 100%;
      height: 300px;
      position: relative;
      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profilePic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
        z-index: 0;
      }
    }
    .profileContainer {
      
      height: 180px;
      @include boxshadow;
      border-radius: 20px;
      background-color: themed("bg");
      color: themed("tp");
      padding: 50px 20px;
      margin: 20px 10px;
      margin-top: 1px;
      align-items: center;
      @include mobile{
        padding: 10px;
      }

      @include tablet{
        padding: 20px;
        height: 325px;
      }

      .uInfo {
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

      

        @include tablet{
          display: flex;
          flex-direction: column;
         gap: 10px;
        }

        .left {
          flex: 1;
          display: flex;
          gap: 10px;

          @include tablet{
            margin-top: 30px;
            flex-wrap: wrap;
          }

          a{
            color: themed("ts");
          }
        }

        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
.followerCountData{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  span{
    font-size: 14px;
  }
}
          span {
            font-size: 30px;
            font-weight: 500;
          }

          .site {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
@include tablet{
  gap: 40px;
}
            .item {
              display: flex;
              align-items: center;
              gap: 5px;
              color: themed("ts");



              span {
                font-size: 14px;
              }
            }
          }
         
        }

        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;

          button{
            border: none;
            background-color: themed("reverse");
            color: themed("main");
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
          }
          .buttons{
            display: flex;
            gap: 10px;

          
          }
        }

        
         
        
        
      }
    }
  }
}