@import "../../style.scss";

.profile {
  @include themify($themes) {
    background-color: themed("obg");
    margin-top: 10px;
position: relative;
min-height: 100vh;
    .update{
            
      position:absolute;
      top: 25vh;
    
      left: 0;
      right: 0;
      margin: auto;
     
     
      
     
      z-index: 999;
    }

    .images {
      width: 100%;
      height: 300px;
      position: relative;

      .cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .profilePic {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 200px;
      }
    }
    .profileContainer {
      padding: 20px 70px;
      height: 180px;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      border-radius: 20px;
      background-color: themed("bg");
      color: themed("tp");
      padding: 50px;
      margin: 20px 10px;
      margin-top: 1px;
      @include mobile{
        padding: 10px;
      }

      @include tablet{
        padding: 20px;
        height: 270px;
      }

      .uInfo {
        margin-top: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        @include mobile{
          flex-direction: column;
          height: 30vh;
          padding: 20px;
          margin-top: 100px;
        }

        @include tablet{
          display: flex;
          flex-direction: column;
         gap: 10px;
        }

        .left {
          flex: 1;
          display: flex;
          gap: 10px;

          @include tablet{
            
            flex-wrap: wrap;
          }

          a{
            color: themed("ts");
          }
        }

        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          span {
            font-size: 30px;
            font-weight: 500;
          }

          .info {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .item {
              display: flex;
              align-items: center;
              gap: 5px;
              color: themed("ts");

              span {
                font-size: 12px;
              }
            }
          }
         
        }

        .right {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 10px;

          .buttons{
            display: flex;
            gap: 10px;

            button{
              border: none;
              background-color: themed("reverse");
              color: themed("main");
              padding: 10px 20px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }

        
         
        
        
      }
    }
  }
}