@import '../../style.scss';
.posts{
@include themify($themes){
    
.post{
    
    margin: 20px 10px;
    background-color: themed("bg");
    border-radius: 20px;
    padding: 15px;
    padding-bottom: 5px !important; 
    @include boxshadow;
    
}
}
}