@import '../../style.scss';
.navbar{
    @include themify($themes){
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 49px;
padding: 10px 20px;
border-bottom: 1px solid grey;
position: sticky;
top: 0;
background-color: themed("bg");
color: themed("tp");
z-index: 1;
.icon{
    background-color: themed("obg");
    padding: 8px;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.icon:hover{
color:themed("reverse");
background-color: themed("cbg");

}
    .left{
        display: flex;
align-items: center;
gap: 20px;
Link {
    width: 100px;
    color: themed("reverse");
    text-decoration: none;

    &:hover {
        font-weight: bold;
    }
}
        .search{
            border-radius: 5px;
            width: 300px;
            display: flex;
            align-items: center;
            border: 1px solid themed("obg");
            margin-right: 10px;
            height: 30px;
            padding: 1px;
           

            @media(max-width:750px){
                width:22px;
                border: none;
                
            }

            input[type="text"], textarea {
                font-size:15px;
                @media(max-width:750px){
                    display: none;
                    
                }
               border: none;
                background-color: themed("bg");
                color: themed("tp");
            width: 265px;
              
              }
              input[type="text"], textarea:focus{
                outline: none;
              }
            
        }
    }

    .right{

                
        @include mobile{
                    display: none;
                }
        display: flex;
align-items: center;
gap: 20px;

@include userHorizontal;
.user{
    img{
        width: 40px !important;
        height: 40px !important;
       

    }
}
    }
}}