@import '../../style.scss';

.navbar {
  @include themify($themes) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 49px;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("tp");
    z-index: 1;
    

    .icon {
      background-color: themed("obg");
      padding: 8px;
      border-radius: 50%;
      font-size: 25px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        color: themed("reverse");
        background-color: themed("cbg");
      }
    }

    .left {
      display: flex;
      align-items: center;
      gap: 20px;
@include smalltablet{
    align-self: center;
    margin: auto;
}
      Link {
        width: 100px;
        color: themed("reverse");
        text-decoration: none;

        &:hover {
          font-weight: bold;
        }
      }
      .nstart{
        @include mobile{
        display: none;
        }
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .homelink {
        color: themed("reverse");
        text-decoration: none;
      }

      .hometext{
        font-size: larger ;
        font-weight: bold;
        margin-top: -3px;
      }

      .search {
        border-radius: 5px;
        width: 300px;
        display: flex;
        align-items: center;
        border: 1px solid themed("obg");
        margin-right: 10px;
        height: 30px;
        padding: 1px;

        @include tablet {
            border: none;
            width: 20px;
            margin-right: 10px;
          }

        input[type="text"],
        textarea {
          font-size: 15px;
          border: none;
          background-color: themed("bg");
          color: themed("tp");
          width: 265px;

          @include tablet {
            display: none;
          }

          &:focus {
            outline: none;
          }
        }

        .searchResults {
            max-height: 250px;
            overflow-y: auto;
            border: 1px solid themed("obg");
            border-radius: 5px;
            background-color: themed("bg");
            position: absolute; 
            top: 70px; 
            left: 0;
            right: 0;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
        
            .searchResultItem {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: background-color 0.2s;
        
                &:hover {
                    background-color: themed("cbg");
                }
        
                img {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }
        
                span {
                    color: themed("tp");
                }
            }
        }


      }

      .madeby{

        @include smalltablet{
            display: none;
        }
        display: flex;
        align-items: center;
        gap: 5px;
       margin-left: 0px;
        cursor: pointer;
        img{
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 50%;

        }
      }
    }

    .right {
      @include smalltablet {
        display: none;
      }
      display: flex;
      align-items: center;
      gap: 20px;

      @include userHorizontal;

      .user {
        img {
          width: 40px !important;
          height: 40px !important;
        }
      }
    }
  }
}
