@import '../../style.scss';
.rightbar{
    @include themify($themes){
        @include mobile{
            display: none;
        }

        @include tablet{
            display: none;
        }
    position: sticky;
        top: 70px;
        height:calc(100vh - 70px);
        flex: 3;
        background-color: themed("obg");

    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 10px;
        gap:15px;
        .menu{
            background-color: themed("bg");
            color: themed("tp");
            border-radius: 10px;
            padding: 10px;
            @include boxshadow;
            flex: column;
           width: 90%;
           

            .point{
                margin-top: 10px;
                align-items: center;
                justify-content: space-between;
                display: flex;
                gap:10px;
                span{
                    color:themed("ts");
                    font-size: 13px;
                }
                
                    @include userHorizontal;
                

               
                .buttons{
                    margin-left: -5px !important;
                    display: flex;
                    gap: 10px;
                    margin-right: 5px;
                    button{
                        width:50px;

                        padding: 4px 6px;
                        font-size:13px;
                        border-radius: 5px;
                        background-color: themed("bg");
                        color: themed("tp");
                        border: none;
                        cursor: pointer;


                    }

                    button:hover{
                        color:themed("reverse");
                        font-weight: 500;
                    }

                    .follow{
                        background-color: themed("tp");
                        color: themed("bg");
                    }

                    .follow:hover{
                        background-color: themed("reverse");
                        color: themed("main");
                        @include boxshadow;
                    }
                }
            }
        }
       
    }
}}