@import "../../style.scss";

.comments{
@include themify($themes){
    img{width: 40px;
    height: 40px;
border-radius: 50%;
object-fit: cover;}

.comment{margin: 30px 0px;
display: flex;
justify-content: space-between;
align-items: center;

.info{
    display:flex;
    flex-direction: flex;
    gap:3px;
    align-items: flex-start;
    align-items: center;
    gap: 3px;

span{
font-weight: 500;
}
p{
    color:themed("tp")
}
}}
.timeago{

}


}}